<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
			<services>
				<configurator type="ARCommerce.Feature.Catalog.RegisterDependencies, ARCommerce.Feature.Catalog" />
			</services>
			<!--<commerce.XA>
				<models>
					<PurchasableProductSummaryViewModel type="Sitecore.HabitatHome.Feature.Catalog.Models.PurchasableProductSummaryViewModel, Sitecore.HabitatHome.Feature.Catalog"/>
				</models>
			</commerce.XA>-->
    </sitecore>
</configuration>