<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
			<services>
				<configurator type="ARCommerce.Feature.Catalog.RegisterDependencies, ARCommerce.Feature.Catalog" />
			</services>
			
			<settings>
				<setting name="ARCommerce.Feature.Catalog.ARContent" value="/sitecore/media library/AR Maps"/>           
      </settings>

    </sitecore>
</configuration>