<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
			<services>
				<register serviceType="ARCommerce.Feature.Catalog.Repositories.IARCatalogRepository, ARCommerce.Feature.Catalog" implementationType="ARCommerce.Feature.Catalog.Repositories.ARCatalogRepository, ARCommerce.Feature.Catalog" lifetime="Singleton"/>
			</services>

			<!--<commerce.XA>
				<models>
					<PurchasableProductSummaryViewModel type="Sitecore.HabitatHome.Feature.Catalog.Models.PurchasableProductSummaryViewModel, Sitecore.HabitatHome.Feature.Catalog"/>
				</models>
			</commerce.XA>-->

    </sitecore>
</configuration>